@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 217 91% 60%;
    --border: 0 0% 90%;
    --foreground: 0 0% 4%;
    --background: 0 0% 98%;
    --background-subtle: 60 9% 94%;
    --content: 240 10% 4%;
    --content-subtle: 240 4% 46%;
    --alert: 0 84% 60%;
    --alert-subtle: 0 91% 71%;
  }

  .dark {
    --accent: 224 76% 48%;
    --border: 0 0% 20%;
    --foreground: 0 0% 98%;
    --background: 0 0% 4%;
    --background-subtle: 24 10% 10%;
    --content: 240 10% 90%;
    --content-subtle: 234 0% 47%;
    --alert: 0 84% 60%;
    --alert-subtle: 0 91% 71%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
